# MATLAB autosave files
*.asv
*.m~

# Image files
*.eps
*.png
*.svg
*.fig

# gfs files
*.gfs

# Video files
*.avi

# zip files
*.zip

# Analytical solution mat files
Model_Comparisons/AnalyticalSolutions/
